@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Header */

header {
  background-image: url(./assets/images/blob-header.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 605px;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  width: 500px;
  padding: 40px 80px 0 0;
  overflow: hidden;
  float: right;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.nav-item a {
  color: #fbfbfb;
  text-align: center;
  text-decoration: none;
}

.nav-item a:hover {
  color: #111111
}

.header-hello {
  padding-top: 100px;
  padding-left: 100px;
  font-size: 25px;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.hello {
  font-weight: 100;
}

.my-name{
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  width: 200px;
  height: 60px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 30px;
}

.btn-primary {
  background-image: linear-gradient(to right, #4776E6, #8E54E9)
}

.btn-secondary {
  color: #111111;
  border: 2px solid #8E54E9;
  background-color: white;
}

.btn-margin-top {
  margin-top: 30px; 
}

/* About */
.about-container {
  background-image: url(./assets/images/blob-about.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 150px;
  margin-bottom: 150px;
  height: 450px;
  display: flex;
}

.about-me {
  padding-top: 80px;
  padding-left: 55%;
  align-content: center;
}

.content-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.about-me-content {
  width: 400px;
  font-size: 24px;
}

/* Footer */
footer {
  background-color: #8E54E9;
  color: white;
  padding: 50px 0 20px;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  margin: 8px;
}

.copyright {
  padding: 20px 0;
}